.icone {
    box-shadow: 0px 0px 10px white;
    background-color: white;
    border: 1px solid black;
    padding: 20px 25px;
    border-radius: 50%;
    font-size: 70px;
    color: rgb(63, 63, 175);
}

.btn {
    color: white;
    background-color: #644F9C;
    border: 1px solid;
    padding: 4px 60px;
    border-radius: 20px;
}